[Unit]
Description=EdnsPlusDns2socks-CN
After=network.target

[Service]
ExecStart=/usr/local/ednsplus/bin/dns2socks 127.0.0.1:1053 8.8.8.8:53 127.0.0.1:9053 /d /e:1.2.4.0/24
Restart=on-abort

[Install]
WantedBy=multi-user.target
